[submodule "third-party/vk-bootstrap"]
	path = third-party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "third-party/tracy"]
	path = third-party/tracy
	url = https://github.com/wolfpld/tracy
